[inventory]
inventory_enabled = cloud.terraform.terraform_provider, auto, yaml, ini, toml, host_list, script
enable_plugins = cloud.terraform.terraform_provider, auto, yaml, ini, toml, host_list, script
[defaults]
inventory = terraform_provider.yaml
private_key_file = ./id_ed25519
host_key_checking = False
